# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Django
*.log
db.sqlite3
media/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store